<h2>Мій профіль</h2>
<p>{{ name }}</p>
<p>{{ favouriteGame }}</p>
<p>{{ amountOfCats }}</p>
<!-- <p>I {{ loveToAngular ? '' : "don't" }} like Angular</p> -->
<p>
  I
  @if (!loveToAngular) {
    don't
  }
  like Angular
</p>

<input placeholder="Name of champion" [(ngModel)]="search" (input)="searchForChampions()" />

<!-- <ul>
  @for (champ of favouriteChampions; track champ) {
    <li>{{ champ }}</li>
  }
</ul> -->

<ul>
  @for (champ of listOfChampions; track champ.name) {
    <li>
      <p>
        {{ champ.name }} - {{ champ.difficulty }}
        @if (champ.isEnchanter) {
          - Enchanter
        }
      </p>
      <button type="button" (click)="deleteChampion(champ.name)">Delete</button>
    </li>
  }
</ul>

<label for="nameOfChampion">Enter the champion's name:</label>
<input id="nameOfChampion" placeholder="Name" [(ngModel)]="championForAdd" />

<button type="submit" (click)="addChampion()">Add champion</button>
<button (click)="removeLastChampion()">Remove last champion</button>
