<h2>Мій профіль</h2>
<p>{{ name }}</p>
<p>{{ favouriteGame }}</p>
<p>{{ amountOfCats }}</p>
<p>
  I
  @if (!loveToAngular) {
    don't
  }
  like Angular
</p>

<input placeholder="Name of champion" [(ngModel)]="search" />

<ul>
  @for (champ of filteredChampions; track champ.name) {
    <li>
      <p>
        @if (editingChampionName === champ.name) {
          <input placeholder="Enter a new name" [(ngModel)]="newNameOfChampion" />
        } @else {
          {{ champ.name }}
        }
        - {{ champ.difficulty }}
        @if (champ.isEnchanter) {
          - Enchanter
        }
      </p>
      @if (editingChampionName === champ.name) {
        <button type="button" (click)="saveChampion()">Save</button>
      } @else {
        <button type="button" (click)="editChampion(champ.name)">Edit</button>
      }

      <button type="button" (click)="deleteChampion(champ.name)">Delete</button>
    </li>
  }
</ul>

<label for="nameOfChampion">Enter the champion's name:</label>
<input id="nameOfChampion" placeholder="Name" [(ngModel)]="championForAdd" />

<button type="submit" (click)="addChampion()">Add champion</button>
<button (click)="removeLastChampion()">Remove last champion</button>
